@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(from #0c141c l c h);
  --foreground: oklch(0.3117 0.017 264.2895);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3117 0.017 264.2895);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3117 0.017 264.2895);
  --primary: oklch(0.9843 0.0017 247.8393);
  --primary-foreground: oklch(0.3117 0.017 264.2895);
  --secondary: oklch(0.9843 0.0017 247.8393);
  --secondary-foreground: oklch(0.3117 0.017 264.2895);
  --muted: oklch(0.9231 0.0013 247.8357);
  --muted-foreground: oklch(0.4052 0.024 264.2609);
  --accent: oklch(0.9231 0.0013 247.8357);
  --accent-foreground: oklch(0.3117 0.017 264.2895);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.8838 0.0027 247.8529);
  --input: oklch(0.8838 0.0027 247.8529);
  --ring: oklch(0.3117 0.017 264.2895);
  --chart-1: oklch(0.3117 0.017 264.2895);
  --chart-2: oklch(0.5906 0.0321 248.3691);
  --chart-3: oklch(0.7674 0.0176 229.066);
  --chart-4: oklch(0.8511 0.0124 211.0383);
  --chart-5: oklch(0.9284 0.0071 197.0338);
  --sidebar: oklch(0.9683 0.0014 286.3748);
  --sidebar-foreground: oklch(0.2633 0.0071 285.9047);
  --sidebar-primary: oklch(0.9683 0.0014 286.3748);
  --sidebar-primary-foreground: oklch(0.2633 0.0071 285.9047);
  --sidebar-accent: oklch(0.9203 0.0034 286.3323);
  --sidebar-accent-foreground: oklch(0.2633 0.0071 285.9047);
  --sidebar-border: oklch(0.9203 0.0034 286.3323);
  --sidebar-ring: oklch(0.2633 0.0071 285.9047);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.25rem;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(220 13% 10%);
  --shadow-2xs: 0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.03);
  --shadow-xs: 0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.03);
  --shadow-sm:
    0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.05),
    0rem 1px 2px -1px hsl(220 13% 10% / 0.05);
  --shadow:
    0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.05),
    0rem 1px 2px -1px hsl(220 13% 10% / 0.05);
  --shadow-md:
    0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.05),
    0rem 2px 4px -1px hsl(220 13% 10% / 0.05);
  --shadow-lg:
    0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.05),
    0rem 4px 6px -1px hsl(220 13% 10% / 0.05);
  --shadow-xl:
    0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.05),
    0rem 8px 10px -1px hsl(220 13% 10% / 0.05);
  --shadow-2xl: 0rem 0.25rem 0.5rem 0rem hsl(220 13% 10% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(from #0c141c l c h);
  --foreground: oklch(0.8428 0.009 247.9335);
  --card: oklch(0.3251 0.0405 247.8462);
  --card-foreground: oklch(0.8827 0.0067 247.901);
  --popover: oklch(0.2622 0.0133 264.3133);
  --popover-foreground: oklch(0.8827 0.0067 247.901);
  --primary: oklch(0.4103 0.0548 248.383);
  --primary-foreground: oklch(0.8827 0.0067 247.901);
  --secondary: oklch(0.6582 0.169 248.8135);
  --secondary-foreground: oklch(0.8827 0.0067 247.901);
  --muted: oklch(0.3251 0.0405 247.8462);
  --muted-foreground: oklch(0.678 0.0191 248.1098);
  --accent: oklch(0.3117 0.017 264.2895);
  --accent-foreground: oklch(0.8827 0.0067 247.901);
  --destructive: oklch(0.6356 0.2082 25.3782);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.5449 0.0529 248.8242);
  --input: oklch(0.4144 0.0162 248.2179);
  --ring: oklch(0.8827 0.0067 247.901);
  --chart-1: oklch(0.7064 0.1459 235.029);
  --chart-2: oklch(0.6676 0.0939 249.3917);
  --chart-3: oklch(0.7864 0.1453 71.3476);
  --chart-4: oklch(0.6295 0.1785 23.7701);
  --chart-5: oklch(0.9112 0.1758 109.4345);
  --sidebar: oklch(0.2129 0.0207 245.8007);
  --sidebar-foreground: oklch(0.8024 0.0114 247.9698);
  --sidebar-primary: oklch(0.1887 0.0077 264.3725);
  --sidebar-primary-foreground: oklch(0.8024 0.0114 247.9698);
  --sidebar-accent: oklch(0.2315 0.011 264.3336);
  --sidebar-accent-foreground: oklch(0.8024 0.0114 247.9698);
  --sidebar-border: oklch(0.6349 0.171 252.7031);
  --sidebar-ring: oklch(0.8024 0.0114 247.9698);
  --font-sans: DM Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: "IBM Plex Serif", serif;
  --font-mono: "IBM Plex Mono", monospace;
  --radius: 0.75rem;
  --shadow-x: 0rem;
  --shadow-y: 0.5rem;
  --shadow-blur: 0.75rem;
  --shadow-spread: 0rem;
  --shadow-opacity: 0.2;
  --shadow-color: hsl(220 13% 5%);
  --shadow-2xs: 0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.1);
  --shadow-xs: 0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.1);
  --shadow-sm:
    0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.2),
    0rem 1px 2px -1px hsl(220 13% 5% / 0.2);
  --shadow:
    0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.2),
    0rem 1px 2px -1px hsl(220 13% 5% / 0.2);
  --shadow-md:
    0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.2),
    0rem 2px 4px -1px hsl(220 13% 5% / 0.2);
  --shadow-lg:
    0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.2),
    0rem 4px 6px -1px hsl(220 13% 5% / 0.2);
  --shadow-xl:
    0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.2),
    0rem 8px 10px -1px hsl(220 13% 5% / 0.2);
  --shadow-2xl: 0rem 0.5rem 0.75rem 0rem hsl(220 13% 5% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), var(--font-sans), system-ui, sans-serif;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
